$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "card";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  width:100%; height:100%; padding: 0; margin: 0; font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #f1f2f6;
}


#map {
  width: 100%;
  height: 35vh;
  margin: 30px auto;
}

.lead {
  margin-bottom: 10px;
}

.bold {
  font-weight: bold;
}


.btn-block {
  max-width: 300px;
  margin: 20px auto 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}


.addr-search {

  margin-bottom: 10px;

  .form-group {
    margin-bottom: 0;
  }

  .glyphicon.spinning {
    -webkit-animation: spin2 1s infinite linear;
    animation: spin 1s infinite linear;


  }

  @keyframes spin {
      from { transform: scale(1) rotate(0deg); }
      to { transform: scale(1) rotate(360deg); }
  }

  @-webkit-keyframes spin2 {
      from { -webkit-transform: rotate(0deg); }
      to { -webkit-transform: rotate(360deg); }
  }

}

.error-text {
  font-weight: bold;
  color: #a94442;
  margin-top: 10px;
  margin-bottom: 0;
}

.org-type-toggle {
  margin-bottom: 15px;
}








/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  background-color: #fff;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header, section.container {
    margin-bottom: 30px;
  }

}
