$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "card";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
//
// html {
//   position: fixed;
//   top: 0;
// }

html, body {
  width:100%; height:100%; padding: 0; margin: 0; font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; /* lets it scroll lazy */

  // overflow-x: hidden;
}


body {
    background-color: #f1f2f6;
    // position: relative;
    // top:0;
}


.header {

  // position: absolute;
  // top: 0;

  .container {

  }

  .navbar-brand {
    color: #454545;
    padding: 0 15px 0 0;
    height: 100%;

    & > .logo > svg {

        & * { fill: #0096d7; }

        // user mobile
        margin-top: 10px;
        margin-bottom: 3px;
        height: 20px;
        width: 105px;

        @media (min-width: $screen-sm-min) {
          margin-top: 17px;
          margin-bottom: 11px;
          height: 25px;
          width: 131px;
        }

    }
  } //navbar-brand

  ul {
    // margin-bottom: 0;
    padding: 0;
    margin: 0;
    -webkit-margin-before:0em;
    -webkit-margin-after:0em;
    height: 36px;

    @media (min-width: $screen-sm-min) {
      height: 57px;
    }

    li {
      vertical-align: top;
      height: 100%;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .navbar-link {

    line-height: 36px;
    color: #454545;

    @media (min-width: $screen-sm-min) {
      line-height: 57px;
    }
  }

  .twitter-follow {
    position: relative;
    top: 4px;

    @media (min-width: $screen-sm-min) {
      top: 15px;
    }

  }


} // header

#map {
  width: 100%;
  height: 35vh;
  margin: 15px auto 30px auto;
}

.lead {
  margin-bottom: 10px;

  &.main-subtext {
    margin-bottom: 20px;
  }
}


.bold {
  font-weight: bold;
}


.btn-block {
  max-width: 300px;
  margin: 20px auto 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-primary {
  @include button-variant($btn-primary-color, #4A89DC, #4A89DC);
  &:hover, &:active, &:focus {
    background-color: #5D9CEC;
    border-color: #5D9CEC;
  }
}

.btn-success {
  @include button-variant($btn-success-color, #8CC152, #8CC152);
  &:hover, &:active, &:focus {
    background-color: #A0D468;
    border-color: #A0D468;
  }
}


.addr-search {

  margin-bottom: 10px;

  .form-group {
    margin-bottom: 0;
  }

  .glyphicon.spinning {
    -webkit-animation: spin2 1s infinite linear;
    animation: spin 1s infinite linear;


  }

  @keyframes spin {
      from { transform: scale(1) rotate(0deg); }
      to { transform: scale(1) rotate(360deg); }
  }

  @-webkit-keyframes spin2 {
      from { -webkit-transform: rotate(0deg); }
      to { -webkit-transform: rotate(360deg); }
  }

}

.error-text {
  font-weight: bold;
  color: #a94442;
  margin-top: 10px;
  margin-bottom: 0;
}

.org-type-toggle {
  margin-bottom: 15px;
}

.not-seeing-link {
  float: right;
  margin-bottom: 5px;
}







/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;

  @media (max-width: $screen-sm-min) {
    & .container {
      padding-left: 0; padding-right: 0;
    }
  }
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  background-color: #fff;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @media (max-width: $screen-sm-min) {
    padding-top: 5px;
    padding-bottom: 5px;
  }

}

/* Custom page footer */
.footer {
  margin-top: 30px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;

  li {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: -4px;
  }

  li:first-of-type {
    padding-left: 0;
  }

  li:not(:last-of-type) {
    border-right: 1px solid darken(#f1f2f6, 10%);
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  // .header, section.container {
  //   margin-bottom: 30px;
  // }

}
