<div ng-controller="AboutCtrl">

<h2>About This Site</h2>
<p>The Housing Resources Directory is a central location for anyone seeking assistance with their housing issues. We aim to provide the most local and relevant results based on your location with easy access to contact information, map directions, and services offered. This list of over 150 tenant groups, community based organizations, and pro bono legal services has been collected from several partner organizations and we will continue to update it as more resources develop <a href="https://docs.google.com/a/justfix.nyc/forms/d/1bD9_a5MmV3CIC4YEyQvkv9j2ExCyiX8xjdV6g5v1aCQ/viewform" target="_blank">(let us know if we’ve missed anyone!)</a>.</p>

<p>This project was developed by the team at JustFix.nyc. We aim to support tenants in exploitative and neglectful housing situations with technology that assists with the processes of building a well-documented legal case and making meaningful referrals to community advocates. Our goal is healthy and safe homes for all. Our main service, <a href="http://justfix.nyc">which can be previewed  here</a>, will provide a comprehensive guide for tenants around the city to document their issues, learn about their rights, find local community efforts, and share their story with advocates.</p>
<br />
<p class="lead">Special thanks to:</p>
<div class="row">
  <div class="col-xs-6 col-sm-3"><a href="http://cdp.urbanjustice.org/" target="_blank"><img src="images/ujc.jpg" class="img-responsive" /></a></div>
  <div class="col-xs-6 col-sm-3"><a href="http://metcouncilonhousing.org/" target="_blank"><img src="images/metcouncil.png" class="img-responsive" /></a></div>
</div>
<br />
<br />
<p>
  <a ui-sref="home">← Back to the directory</a>
</p>
<br />
<br />
<br />

</div>
