<div ng-controller="AboutCtrl">

<h2>About This Site</h2>
<p>The Tenant Assistance Directory was made to help NYC renters find the right groups to contact for their housing issues. We aim to provide the most local and relevant results based on your location with easy access to contact information, map directions, and services offered. This list of over 150 tenant groups, community based organizations, and pro bono legal services has been collected from several partner organizations and we will continue to update it as we find more local advocacy efforts <a href="https://docs.google.com/a/justfix.nyc/forms/d/1bD9_a5MmV3CIC4YEyQvkv9j2ExCyiX8xjdV6g5v1aCQ/viewform" target="_blank">(let us know if we’ve missed anyone!)</a>.</p>

<p>This project was developed by the team at JustFix.nyc. We support tenants in exploitative and neglectful housing situations with technology that assists with the process of building a well-documented legal case. Our goal is healthy and safe homes for all. Our main site, <a href="http://justfix.nyc">which can be previewed here</a>, will provide a comprehensive guide for tenants around the city to document their issues, learn about their rights, find local community organizating efforts, and share their story in order to get the healthy and safe housing they deserve.</p>
<div id="mc_embed_signup">
<form action="//nyc.us13.list-manage.com/subscribe/post?u=d4f5d1addd4357eb77c3f8a99&amp;id=588f6c6ef4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Subscribe to receive updates on JustFix.nyc!</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d4f5d1addd4357eb77c3f8a99_588f6c6ef4" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
<br />
<br />
<p class="lead">Special thanks to:</p>
<div class="row">
  <div class="col-xs-6 col-sm-3"><a href="http://cdp.urbanjustice.org/" target="_blank"><img src="images/ujc.jpg" class="img-responsive" /></a></div>
  <div class="col-xs-6 col-sm-3"><a href="http://metcouncilonhousing.org/" target="_blank"><img src="images/metcouncil.png" class="img-responsive" /></a></div>
</div>
<br />
<br />
<p>
  <a ui-sref="home">← Back to the directory</a>
</p>
<br />
<br />
<br />

</div>
