<div ng-controller="MainCtrl">

  <h2>Tenant Assistance Directory <!--<span class="glyphicon glyphicon-star pull-right" ng-show="user.finishedIntake" ng-click="user.showBookmarks = true"></span><span class="label label-default pull-right" style="margin-right=20px">{{bookmarks.length}}</span>--></h2>
  <modal id="bookmark-modal" ng-show="user.showBookmarks">
    <div class="modal">
      <div class="modal-body">
        <h1>Your Bookmarks</h1>
        <p>
          Home page text: <input type="text" ng-model="bookmarks" />
        </p>
        <!--<button ng-click="vm.closeModal('custom-modal-1');">Close</button>-->
      </div>
    </div>
    <div class="modal-background"></div>
  </modal>
  <p class="lead main-subtext" ng-hide="user.finishedIntake || user.editSearchOpen">
    This referral directory can help you find local community groups, legal services, and elected officials who may be able to help with your housing issues. <br></br> Help us help you by telling us a little more about your situation.
  </p>
  <p class="lead main-subtext" ng-hide="user.finishedIntake || !user.editSearchOpen">
    Tell us a little more about you and your situation so we can recommend the best matches.
  </p>
  <div class="addr-search row" ng-hide="user.finishedIntake || user.editSearchOpen">
    <form ng-submit="searchAddr(toggleSearch()); user.intakeNavDisabled = [false, false, true, true, true]; openPanel(1);"> <!-- changed fr user.editSearchOpen = true;-->
      <label class="col-sm-12 control-label" for="addrSearch">Tap <span class="glyphicon glyphicon-map-marker"></span> to get your current location, or enter your address, neighborhood, or zipcode. Then click next to get started.</label>
      <div class="col-sm-12">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" ng-model="user.address" placeholder="Ex: 1542 Atlantic Ave, Brooklyn NY">
          <span class="input-group-btn">
            <button class="btn btn-success" type="button" ng-click="searchGeolocation(); openPanel(1); user.intakeNavDisabled = [false, false, true, true, true];">
              <span ng-class="user.loadingLoc ? 'glyphicon-refresh spinning' : 'glyphicon-map-marker'" class="glyphicon"></span>
            </button>
            <button class="btn btn-primary" type="button" ng-click="searchAddr(toggleSearch()); openPanel(1); user.intakeNavDisabled = [false, false, true, true, true];" >next</button>
          </span>
        </div><!-- /input-group -->
      </div>
    </form>
  </div>

  <div class="search output" ng-show="user.finishedIntake" ng-if="resources.length != 0">
    <p class="lead output-subtext madlibs">
      Showing organizations near <span class="label label-default">{{user.address.substring(0,user.address.indexOf(','))}}</span> which may be able to serve a tenant <span class="label label-default">{{user.housingCourtStatus ? 'in an active court case' : ''}}</span> living in <span class="label label-default" class="search-tag"style="font-weight=bold">{{tagDict[user.housingType]}}</span> housing who <span class="label label-default" ng-repeat="tag in user.eligibilityTags"><span style="font-weight=bold">{{tagDict[tag] + ', '}}</span></span> and wants help with <span class="label label-default" ng-repeat="tag in user.issueTags"><span style="font-weight=bold">{{tagDict[tag]}}{{$last ? '.':', '}}</span></span><br>
    </p>
    <button class="btn btn-basic edit-search" ng-click="toggleSearch(); user.intakeNavDisabled = [false, false, false, false, false]; openPanel(4)" ng-show="!user.editSearchOpen">EDIT SEARCH</button>
    <button class="btn btn-basic done-search" ng-click="toggleSearch(); update();" ng-show="user.editSearchOpen">SEE RESULTS</button>
  </div>

  <div ng-if="error">
    <p class="error-text">
      Error! Please make sure you've entered a specific address.
    </p>
  </div>
  <!--
  <div ng-show="resources && resources.length > 0">

  <label class="control-label">Show groups in:</label>
  <div class="btn-group btn-group-justified borough-toggle">
  <label class="btn btn-primary" ng-class="{ active: !user.byBorough }" ng-click="toggleBorough(false)">My area</label>
  <label class="btn btn-primary" ng-class="{ active: user.byBorough }" ng-click="toggleBorough(true)">My borough</label>
  <label class="btn btn-primary" ng-class="{ active: user.byBorough }" ng-click="toggleBorough(true)">Hotlines</label>
</div>
</div> -->
<div class="intake" ng-show="user.editSearchOpen">
  <uib-accordion close-others="true">
    <div uib-accordion-group class="panel-default intake"  is-open="user.intakeNavOpen[0]" is-disabled="user.intakeNavDisabled[0]">
      <div uib-accordion-heading>ADDRESS: {{user.address}}<span class="glyphicon glyphicon-ok pull-right" ng-if="!user.intakeNavDisabled[1]"></span></div>
      <p>What is your address?</p>
      <div class="controls">
        <form ng-submit="searchAddr(); openPanel(1);">
          <input type="text" class="form-control" ng-model="user.address" placeholder="Ex: 1542 Atlantic Ave, Brooklyn NY">
        </form>
      </div>
      <button class="btn btn-primary next-button" ng-click="searchAddr(openPanel(1))">NEXT</button>
    </div>

    <div uib-accordion-group class="panel-default intake" is-open="user.intakeNavOpen[1]" is-disabled="user.intakeNavDisabled[1]">
      <div uib-accordion-heading>TYPE OF HOUSING: {{tagDict[user.housingType]}}<span class="glyphicon glyphicon-ok pull-right" ng-if="!user.intakeNavDisabled[2]"></span></div>
      <p>WHAT TYPE OF HOUSING DO YOU LIVE IN?</p>
      <div class="container">
        <div class="intake1">
          <label class="btn btn-default" ng-model="user.housingType" btn-radio="'RS'" name="housing" ng-click="updateHousingType('RS'); openPanel(2)" ng-class="{ active: user.housingType == 'RS' }" required="">Rent-Stabilized</label>

          <label class="btn btn-default" ng-model="user.housingType" btn-radio="'MR'" name="housing" ng-click="updateHousingType('MR'); openPanel(2)" ng-class="{ active: user.housingType == 'MR' }" required="">Market-Rate</label>
        </div>
        <div class="intake1">
          <label class="btn btn-default" ng-model="user.housingType" btn-radio="'ML'" name="housing" ng-click="updateHousingType('ML'); openPanel(2)" ng-class="{ active: user.housingType == 'ML' }" required="">Mitchell-lama</label>

          <label class="btn btn-default" ng-model="user.housingType" btn-radio="'NYCHA'" name="housing" ng-class="{ active: user.housingType == 'NYCHA' }" ng-click="updateHousingType('NYCHA'); openPanel(2)" required="">NYCHA</label>
        </div>
        <div class="intake1">
          <label class="btn btn-default" ng-model="user.housingType" btn-radio="'section8'" name="housing" ng-class="{ active: user.housingType == 'section8' }" ng-click="updateHousingType('section8'); openPanel(2)" required="">Section 8</label>

          <label class="btn btn-default" ng-model="user.housingType" btn-radio="'ML'" name="housing" ng-click="updateHousingType('o'); openPanel(2)" ng-class="{ active: user.housingType == 'o' }" required="">Other/ Unsure</label>

        </div>
      </div>
    </div>

    <div uib-accordion-group class="panel-default intake" is-open="user.intakeNavOpen[2]" is-disabled="user.intakeNavDisabled[2]">
      <div uib-accordion-heading>HOUSING COURT STATUS: {{tagDict.court_status[user.housingCourtStatus]}}<span class="glyphicon glyphicon-ok pull-right" ng-if="!user.intakeNavDisabled[3]"></span></div>
      <p>What is your current status?</p>
      <div class="controls">
        <div class="container">
          <label class="btn btn-default" ng-model="user.housingType" btn-radio="'RS'" name="housing" ng-click="updateHousingCourt(true); openPanel(3)" ng-class="{active: user.housingCourtStatus === true}" required="">I am currently involved in an active housing court case.</label>

          <label class="btn btn-default" ng-model="user.housingType" btn-radio="'MR'" name="housing" ng-click="updateHousingCourt(false); openPanel(3)" ng-class="{active: user.housingCourtStatus === false}" required="">I need repairs or other housing support, but am not in an active court case.</label>
        </div>
      </div>
    </div>
    <div uib-accordion-group class="panel-default intake" is-open="user.intakeNavOpen[3]" is-disabled="user.intakeNavDisabled[3]">
      <div uib-accordion-heading>ABOUT YOU: <span ng-repeat="tag in user.eligibilityTags"><span>{{tagDict[tag]}}{{$last ? '':', '}}</span></span><span class="glyphicon glyphicon-ok pull-right" ng-if="!user.intakeNavDisabled[4]"></span></div>

      <p>Which of the following is true for you? (Select all that apply)</p>
      <div class="container">
        <!--<div class="container" ng-repeat="choice in intake.eligibility">
        <label class="btn btn-default" ng-class="{ active: containsTag(user.eligibilityTags, choice.tag) }" ng-click="updateEligibilityTags(choice.tag)" ng-if="$index % 2 == 0">{{choice.question}}</label>
        <label class="btn btn-default" ng-class="{ active: containsTag(user.eligibilityTags, choice.tag) }" ng-click="updateEligibilityTags(choice.tag)" ng-if="$index % 2 == 1">{{choice.question}}</label>
      </div>-->

      <label class="btn btn-default" ng-class="{ active: containsTag(user.eligibilityTags,'income') }" ng-click="updateEligibilityTags('income')">I receive public assistance</label>

      <label class="btn btn-default" ng-class="{ active: containsTag(user.eligibilityTags,'seniors') }" ng-click="updateEligibilityTags('seniors')">I am 62 years of age or older</label>

      <label class="btn btn-default" ng-class="{ active: containsTag(user.eligibilityTags,'disability') }" ng-click="updateEligibilityTags('disability')">I have a disability</label>

      <label class="btn btn-default" ng-class="{ active: containsTag(user.eligibilityTags,'lgbtq') }" ng-click="updateEligibilityTags('lgbtq')">I identify as LGBTQ+</label>

      <label class="btn btn-default" ng-class="{ active: containsTag(user.eligibilityTags,'children') }" ng-click="updateEligibilityTags('children')">I have dependent children</label>

      <label class="btn btn-default" ng-class="{ active: containsTag(user.eligibilityTags,'health') }" ng-click="updateEligibilityTags('health')">I face serious/chronic health issues</label>

    </div>
    <div class="container"><label class="btn btn-primary next-button" ng-click="openPanel(4)">NEXT</label></div>
  </div>
  <div uib-accordion-group class="panel-default intake" is-open="user.intakeNavOpen[4]" is-disabled="user.intakeNavDisabled[4]">
    <div uib-accordion-heading>ISSUES: <span ng-repeat="tag in user.issueTags"><span>{{tagDict[tag]}}{{$last ? '':', '}}</span></span><span class="glyphicon glyphicon-ok pull-right" ng-if="user.finishedIntake"></span></div>
    <p>Which issue(s) do you need help with? (Select all that apply)</p>
    <div class="container">
      <label class="btn btn-default" ng-class="{ active: containsTag(user.issueTags,'eviction') }" ng-click="updateIssueTags('eviction')">Eviction</label>

      <label class="btn btn-default" ng-class="{ active: containsTag(user.issueTags,'repairs') }" ng-click="updateIssueTags('repairs')">Getting repairs</label>

      <label class="btn btn-default" ng-class="{ active: containsTag(user.issueTags,'overcharge') }" ng-click="updateIssueTags('overcharge')">Rent Overcharge</label>

      <label class="btn btn-default" ng-class="{ active: containsTag(user.issueTags,'rent') }" ng-click="updateIssueTags('rent')">Paying my rent</label>

      <label class="btn btn-default" ng-class="{ active: containsTag(user.issueTags,'lease') }" ng-click="updateIssueTags('lease')">Lease Renewal</label>

      <label class="btn btn-default" ng-class="{ active: containsTag(user.issueTags,'succession') }" ng-click="updateIssueTags('succession')">Succession Rights</label>

      <label class="btn btn-default" ng-class="{ active: containsTag(user.issueTags,'benefits') }" ng-click="updateIssueTags('benefits')">Subsidies/benefits</label>

      <label class="btn btn-default" ng-class="{ active: containsTag(user.issueTags,'harassment') }" ng-click="updateIssueTags('harassment')">Landlord harassment</label>

      <label class="btn btn-default" ng-class="{ active: containsTag(user.issueTags,'rights') }" ng-click="updateIssueTags('rights')">Learning about my tenant rights</label>

      <label class="btn btn-default" ng-class="{ active: containsTag(user.issueTags,'organizing') }" ng-click="updateIssueTags('organizing')">Organizing my building</label>

    </div>
    <div class="container">
      <div class="nav">
        <label class="btn btn-primary next-button" ng-click="update();">FIND HELP</label>
      </div>
    </div>
  </div>
</uib-accordion>
</div>
<div ng-show="(user.finishedIntake && !user.editSearchOpen) || (!user.finishedIntake && !user.editSearchOpen)"><carto-map></carto-map></div>
<div class="output referrals" ng-show="user.finishedIntake && !user.editSearchOpen"><!-- && !user.editSearchOpen" change-->

  <div class="org-type-toggle">
    <button class="btn btn-primary org_type" style= "background: #CD4968" ng-class="{ active: !containsTag(user.org_type,'community') }" ng-click="toggleOrgType('community')">
      <span class="glyphicon glyphicon-ok pull-left" style="margin-right: 10px; color: #FFFFFF" ng-class="{hide: !containsTag(user.org_type,'community')}">
      </span>
      community orgs
    </button>
    <button class="btn btn-primary org_type" style= "background: #FD7603" ng-class="{ active: !containsTag(user.org_type,'legal') }" ng-click="toggleOrgType('legal')">
      <span class="glyphicon glyphicon-ok pull-left" style="margin-right: 10px; color: #FFFFFF" ng-class="{hide: !containsTag(user.org_type,'legal')}">
      </span>legal services
    </button>
    <button class="btn btn-primary org_type" style= "background: #0096D7" ng-class="{ active: !containsTag(user.org_type,'govt') }" ng-click="toggleOrgType('govt')">
      <span class="glyphicon glyphicon-ok pull-left" style="margin-right: 10px; color: #FFFFFF" ng-class="{hide: !containsTag(user.org_type,'govt')}">
      </span>elected officials
    </button>
  </div>
  <div ng-if="resources && resources.length > 0">
    <br />

    <!-- <div ng-if="hasLocal"> -->
    <!-- <label class="control-label">Show groups in:</label> -->
    <!--<div class="btn-group btn-group-justified org-type-toggle">-->

    <!-- </div> -->

    <!-- <p class="lead">Results:</p> -->
    <div ng-repeat="r in resources" class="panel resources-panel">
      <div class="panel-heading resources-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-stop"
          style="color:#CD4968" ng-show="r.org_type === 'community'"></span>
          <span class="glyphicon glyphicon-stop"
          style="color:#FD7603" ng-if="r.org_type === 'legal'"></span>
          <span class="glyphicon glyphicon-stop"
          style="color:#0096D7" ng-if="r.org_type === 'govt'"></span>
          {{ r.rownum }}. {{ r.organization }}
          <!--<span ng-click="updateTags(bookmarks, r.cartodb_id)" ng-class="{'glyphicon glyphicon-star pull-right': containsTag(bookmarks, r.cartodb_id), 'glyphicon glyphicon-star-empty pull-right': !containsTag(bookmarks, r.cartodb_id)}"></span>-->
        </h3>
      </div>
      <div class="panel-body">
        <!-- <a ng-href="http://maps.google.com/?q={{ r.address }}"><p class="address">{{ r.address }} <em>({{ r.dist }}mi away)</em></p></a> HTTP  BELOW-->
        <a ng-href="https://maps.google.com/?saddr={{ user.address }}&daddr={{ r.address }}" target="_blank"><p class="address">{{ r.address }} <em>({{ r.dist }}mi away)</em></p></a>
        <p class="hours" ng-show="r.hours"><span class="glyphicon glyphicon-time pull-left" style="margin-right: 10px; color: #5D9CEC"></span>{{ r.hours }}</p>
        <p class="services">{{ r.services }}</p>
        <div class="btn-block">
          <a class="btn btn-success" ng-href="tel:{{ r.contact_information }}"><span class="glyphicon glyphicon-earphone pull-left" style="margin-right: 10px"></span>{{ r.contact_information | tel }}</a>
          <a class="btn btn-success edit-search" style="padding-left:40px; padding-right:40px;" ng-show="r.website"
          ng-href="{{ r.website }}" target="_blank">WEBSITE</a>
        </div>
        <div class="tags">
          <span ng-repeat="tag in user.userTags">
            <span class="badge" ng-if="(r.tags.indexOf(tag) > -1) && (tag != 'income')" style="font-weight:normal; padding:7px">
              {{tag}}
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="resources.length == 0">
    <p class="error-text lead" ng-if="user.org_type.length != 0">
      Nothing found! Please try expanding your search or enter a different address.
    </p>
    <p class="error-text lead" ng-if="user.org_type.length === 0">
      Please select at least one organization type above.
    </p>
    <br /><br />
  </div>

  <div class="panel resources-panel missing-panel">
    <div class="panel-heading">
      <h3 class="panel-title">Are we missing someone? Let us know!</h3>
    </div>
    <div class="panel-body">
      <a  class="btn btn-primary btn-block"
      target="_blank"
      href="https://docs.google.com/a/justfix.nyc/forms/d/1bD9_a5MmV3CIC4YEyQvkv9j2ExCyiX8xjdV6g5v1aCQ/viewform">
      <span class="glyphicon glyphicon-plus pull-left"></span>
      Add new resource
    </a>
  </div>
</div>


</div>


</div>

</div>
