<div ng-controller="MainCtrl">

<h2>Housing Resources Directory</h2>
<p class="lead main-subtext">
  Find local community groups and legal services to help with your housing issues.
</p>

<div class="addr-search row">
    <form ng-submit="searchAddr()">
      <label class="col-sm-12 control-label" for="addrSearch">Tap <span class="glyphicon glyphicon-map-marker"></span> to get your current location or search by address, neighborhood, or zipcode:</label>
      <div class="col-sm-12">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" ng-model="user.address" placeholder="Ex: 1542 Atlantic Ave, Brooklyn NY">
          <span class="input-group-btn">
            <button class="btn btn-success" type="button" ng-click="searchGeolocation()">
              <span ng-class="user.loadingLoc ? 'glyphicon-refresh spinning' : 'glyphicon-map-marker'" class="glyphicon"></span>
            </button>
            <button class="btn btn-primary" type="button" ng-click="searchAddr()">Go</button>
          </span>
        </div><!-- /input-group -->
      </div>
    </form>
</div>

<div ng-if="error">
  <p class="error-text">
    Error! Please make sure you've entered a specific address.
  </p>
</div>
<!--
<div ng-show="resources && resources.length > 0">

  <label class="control-label">Show groups in:</label>
  <div class="btn-group btn-group-justified borough-toggle">
      <label class="btn btn-primary" ng-class="{ active: !user.byBorough }" ng-click="toggleBorough(false)">My area</label>
      <label class="btn btn-primary" ng-class="{ active: user.byBorough }" ng-click="toggleBorough(true)">My borough</label>
      <label class="btn btn-primary" ng-class="{ active: user.byBorough }" ng-click="toggleBorough(true)">Hotlines</label>
  </div>
</div> -->

<carto-map></carto-map>



<div ng-if="resources && resources.length > 0">

  <a href="https://docs.google.com/a/justfix.nyc/forms/d/1bD9_a5MmV3CIC4YEyQvkv9j2ExCyiX8xjdV6g5v1aCQ/viewform" class="not-seeing-link" target="_blank">Are we missing someone? Let us know!</a>
  <br />

  <!-- <div ng-if="hasLocal"> -->
    <!-- <label class="control-label">Show groups in:</label> -->
    <div class="btn-group btn-group-justified org-type-toggle">
        <label class="btn btn-primary" ng-class="{ active: !user.byLegal }" ng-click="toggleOrgType(false)">Community groups</label>
        <label class="btn btn-primary" ng-class="{ active: user.byLegal }" ng-click="toggleOrgType(true)">Legal services</label>
        <!-- <label class="btn btn-primary" ng-class="{ active: user.byBorough }" ng-click="toggleBorough(true)">Hotlines</label> -->
    </div>
  <!-- </div> -->

  <!-- <p class="lead">Results:</p> -->
  <div ng-repeat="r in resources" class="panel resources-panel">
    <div class="panel-heading">
      <h3 class="panel-title">{{ r.rownum }}. {{ r.organization }}</h3>
    </div>
    <div class="panel-body">
      <!-- <a ng-href="http://maps.google.com/?q={{ r.address }}"><p class="address">{{ r.address }} <em>({{ r.dist }}mi away)</em></p></a> -->
      <a ng-href="http://maps.google.com/?saddr={{ user.address }}&daddr={{ r.address }}"><p class="address">{{ r.address }} <em>({{ r.dist }}mi away)</em></p></a>
      <p class="services">{{ r.services }}</p>
      <a  class="btn btn-success btn-block"
          ng-href="tel:{{ r.contact_information }}">
          <span class="glyphicon glyphicon-earphone pull-left"></span>
          {{ r.contact_information | tel }}
      </a>
    </div>
  </div>

  <div class="panel resources-panel missing-panel">
    <div class="panel-heading">
      <h3 class="panel-title">Are we missing someone? Let us know!</h3>
    </div>
    <div class="panel-body">
      <a  class="btn btn-primary btn-block"
          target="_blank"
          href="https://docs.google.com/a/justfix.nyc/forms/d/1bD9_a5MmV3CIC4YEyQvkv9j2ExCyiX8xjdV6g5v1aCQ/viewform">
          <span class="glyphicon glyphicon-plus pull-left"></span>
          Add new resource
      </a>
    </div>
  </div>


</div>

<div ng-if="resources.length == 0">
  <p class="error-text lead">
    Nothing found! Please try a different address.
  </p>
  <br /><br />
</div>


</div>
